.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey ;
}
.note {
    font-size: 15px;
    color: black;
}
canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px cornflowerblue;
}
.copy_right_footer {
    width: 100%;
    line-height: 3;
    background-color: grey;
    color: white;
    text-align: center;
    bottom: 0;
    position: fixed;
}
